.services{
  grid-area: service;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;

  &__section{
    display: flex;
    max-width: 25%;

  }

  & i{
    color: $icon-color;
    font-size: 5rem;
    align-self: center;
  }

  &__text{
    padding-left: 2rem;
    align-self: center;
    text-align: justify;
  }
}