.grid{
  color: $font-color;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  cursor: default;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 12vh 38vh 20vh 1fr auto;
  grid-template-areas:
  'logo logo phone'
  'baner baner baner'
  'service service service'
  'info info info'
  'footer footer footer';
}