.phone{
  grid-area: phone;
  position: relative;

  &__title{
    position: absolute;
    display: flex;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);

    & i{
      color: $icon-color;
      font-size: 2.8rem;
    }
  }

  &__number{
    align-self: center;
    text-decoration: none;
    color: $phone-color;

    &-icon{
      padding-left: 2.5rem;
    }
  }
}