// $font-color: #f5eaea;
// $icon-color: #7fcd91;
// $logo-color: #7fcd91;
// $phone-color: #7fcd91;
// $title-color: #7fcd91;
// $dots-color: #7fcd91;
// $titleInfo-color: #7fcd91;

// $font-color: #f8f3d4;
// $icon-color: #e84545;
// $logo-color: #e84545;
// $phone-color: #e84545;
// $title-color: #e84545;
// $dots-color: #e84545;
// $titleInfo-color: #e84545;

$font-color: #eeeeee;
$icon-color: #00adb5;
$logo-color: #00adb5;
$phone-color: #fce38a;
$title-color: #00adb5;
$dots-color: #00adb5;
$titleInfo-color: #00adb5;
